<div class="admin-base">
  <div class="title-section">ADMIN</div>
  <div class="main-contents">
    <div class="left-contents">
      <div class="menu-item" (click)="openReviews()">View Review Titles</div>
      <div class="menu-item" (click)="openEmployees()">View Employees</div>
      <a routerLink="../common">Go to common employee page</a>
    </div>
    <div class="right-contents">
      <app-employees-view *ngIf="viewEmployees"></app-employees-view>
      <app-reviews-view *ngIf="viewReviews"></app-reviews-view>
    </div>
  </div>
</div>
